<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Template examples</title>
		<meta name="Description" content="template description" />
		<!--
			Site by w34u
			Brighton Media Centre
			Suit G03
			15-17 Middle Street
			Brighton
			East Sussex BN1 1AL
			United Kingdom
			t. +44 (0)1273 321143
			m. +44 (0)7833 512221
			e. info@w34u.com
			w. www.w34u.com
		-->
	</head>
	<body>
		<h1>Template Examples</h1>
		<p>Examples of how the template class works, they are all functional.</p>
		<p>Example 1: <a href="example1.php">Basic use</a></p>
		<p>Example 2: <a href="example2.php">Sub templates</a></p>
		<p>Example 3: <a href="example3.php">Conditional execution</a></p>
		<p>Example 4: <a href="example4.php">Different was of defining data and templates</a></p>
	</body>
</html>