<!DOCTYPE html>
<html>
	<head>
		<title>Template tests</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<h1>Template testing routines</h1>
		<p><a href="test1.php">Basic functionality</a></p>
		<p><a href="test2.php">Template in directory functionality</a></p>
		<p><a href="test3.php">Include functinoality</a></p>
		<p><a href="test4.php">Conditional functionality</a></p>
		<p><a href="returnLines.php">Replace tags with content and returns first two lines</a></p>
	</body>
</html>
